@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: orangered;
  color: white;
  margin: 0;
  font-family: rubik;
}

h1 {
  color: #FFFF00;
}

.container {
  font-family: 'Press Start 2P', cursive;
  padding: 40px;
  margin: 0 auto;
}

#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

.pokemon {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
}

.pokemon:hover {
  animation: bounce 0.5s linear;
}

.pokemon-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
}
.pokemon-subtitle {
  margin-top: 5px;
  color: #666;
  font-weight: lighter;
}

.pokemon-image {
  height: 180px;
}

@keyframes bounce {
  20% {
      transform: translateY(-6px);
  }
  40% {
      transform: translateY(0px);
  }

  80% {
      transform: translateY(-2px);
  }
  100% {
      transform: translateY(0);
  }
}
